@model IEnumerable<LTQL_quanlythuvien.Models.Tintuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tentacgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noidung)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tentacgia)
            </td>
            <td>
                @Html.Raw(item.Noidung)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TintucID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TintucID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TintucID })
            </td>
        </tr>
    }

</table>
