@model LTQL_quanlythuvien.Models.ChitietMuon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChitietMuon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Muons.Madocgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muons.Madocgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaytra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaytra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Songayquahan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Songayquahan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tienphat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tienphat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTmuon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
