@model IEnumerable<LTQL_quanlythuvien.Models.ChitietMuon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Muons.Madocgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaytra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Songayquahan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tienphat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Muons.Madocgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaytra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Songayquahan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tienphat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghichu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTmuon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTmuon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTmuon })
        </td>
    </tr>
}

</table>
